<footer class="mt-auto">
  <div class="container py-4">
    <div class="row align-items-center justify-content-between text-center text-md-start">
      <!-- Section Réseaux Sociaux -->
      <div class="col-md-4 text-md-end pe-0 order-1 order-md-2 mb-3 mb-md-0">
        <h5 class="text-uppercase">Follow Us</h5>
        <a href="#" class="text-dark me-3"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="text-dark me-3"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#" class="text-dark"><i class="fab fa-instagram"></i></a>
      </div>

      <!-- Section Copyright -->
      <div class="col-md-4 my-auto order-2 order-md-1 copyright">
        <p class="mb-0">&copy; <%= Time.now.year %>   HeavenNest. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
