<div class="container">
  <div class="d-flex justify-content-center my-5">
    <div class="card cardFormRadius" style="width: 500px;">
      <div class="card-body">
        <h2 class="card-title text-center">Advert Details - Amenities</h2>
        <%= simple_form_for @advert, url: wizard_path, method: :put do |f| %>
          <%= f.input :amenity_ids, label: "Amenities", as: :check_boxes, collection: Amenity.all, label_method: :name, value_method: :id %>
          <% if step != :general %>
            <%= f.button :submit, class: "btn btn-secondary btn-lg", name: "previous", value: "Previous" %>
          <% end %>
          <div class="form-actions text-center">
            <%= f.button :submit, class: "btn btn-success btn-lg", name: "next" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
