<div class="container">
  <div class="d-flex justify-content-center my-5">
    <div class="card cardFormRadius" style="width: 500px;">
      <div class="card-body">
        <h2 class="card-title text-center">Advert Details - Images</h2>
        <%= simple_form_for @advert, url: wizard_path, method: :put, html: { multipart: true } do |f| %>
          <%= f.input :images, as: :file, input_html: { class: 'form-control', multiple: true, data: { image_preview_target: "input", action: 'change->image-preview#preview' } } %>
          <% if step != :general %>
            <%= f.button :submit, class: "btn btn-secondary btn-lg", name: "previous", value: "Previous" %>
          <% end %>
          <div class="form-actions text-center">
            <%= f.button :submit, class: "btn btn-success btn-lg", name: "next" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
