header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Assurez-vous qu'il soit au-dessus des autres éléments */
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre pour distinction */
}

.logo {
  width: 40px;
}

.navbar-nav {

  flex-direction: row;

}

.header-mobile {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent;
  box-shadow: none;

  a {
    background-color: none;
  }

  .backButtonContainer {
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    width: 30px;
    height: 30px;
  }

  a {
    border: none;
  }

  .fa-solid {
    font-size: 1.8rem;
    color: #333;
  }
}


@media (max-width: 767px) {
  .hide-header-mobile {
    display: none; /* Cache le header */
  }
}

@media (min-width: 767px) {
  .header-mobile{
    display: none; /* Cache le header */
  }
}

@media (min-width: 993px) {

  .logo {
    width: 50px;
  }
}
