.newBooking {

  .card-header {
    background-color: transparent;
  }

  #imageAdvertBooking {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  #price-summary {
    opacity: 0;
    transform: translateX(-300px); /* Déplace la carte vers le haut au départ */
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  }

  #price-summary.show {
    opacity: 1;
    transform: translateX(0); /* Réinitialise le déplacement vertical */
  }

  @media (min-width: 768px) {
    .card, .price-summary.card {
      padding: 1rem;
    }
  }
}
